* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Tamil', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --primary-color: #000000;
  --font-color: #ffffff;
  --button-color: #FFF76A;
}
.btn {
  max-width: 500px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
a {
  padding: 10px;
  background-color: black;
  color: #ffff74;
  border-radius: 25px;
  text-decoration: none;
  border: 1px solid black;
}
a:hover {
  background-color: #ffff74;
  border: 1px solid black;
  transition: 0.2s;
  color: black;
}
body {
  background: url(/images/background.jpg);
  margin: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body .main-container .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
}
body .main-container .header .header-inner-section {
  max-width: 1250px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .main-container .header .header-inner-section .logo-container {
  max-width: 510px;
  width: 100%;
}
body .main-container .header .header-inner-section .logo-container .logo {
  max-width: 380px;
  width: 100%;
  padding: 26px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .main-container .header .header-inner-section .logo-container .logo .sub-logo img {
  padding-right: 10px;
}
body .main-container .header .header-inner-section .logo-container .logo .social-media-link {
  display: none;
}
body .main-container .header .header-inner-section .line-small-screen {
  display: none;
}
body .main-container .header .header-inner-section .bar-icon {
  display: none;
}
body .main-container .header .header-inner-section .navigation ul {
  display: flex;
  justify-content: space-between;
}
body .main-container .header .header-inner-section .navigation ul li {
  list-style: none;
  margin-right: 25px;
  line-height: 25px;
  font-size: 13px;
  font-weight: 400px;
  color: #fff;
}
body .main-container .header .header-inner-section .navigation ul li:hover {
  cursor: pointer;
  color: #ffff74;
}
body .main-container .header .header-inner-section .navigation ul .link.active {
  color: var(--button-color);
}
body .main-container .header .header-inner-section .social-media-link {
  max-width: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body .main-container .section {
  width: 100%;
  margin-top: 111px;
  background-color: rgba(0, 0, 0, 0.521);
  background-size: cover;
}
body .main-container .section .content {
  display: none;
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding: 30px 0;
}
body .main-container .section .content .thirukural {
  max-width: 580px;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  font-family: poppins-extralight, sans-serif;
  line-height: 28px;
  color: #fff;
  padding-bottom: 40px;
}
body .main-container .section .content .center {
  text-align: center;
}
body .main-container .section .content .center .about-dckap {
  letter-spacing: 0.8px;
  max-width: 800px;
  width: 100%;
  margin: auto;
  font-size: 28px;
  font-weight: 700;
  font-family: poppins-extralight, sans-serif;
  color: #fff;
  padding-bottom: 40px;
}
body .main-container .section .content .center .heading {
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  font-family: poppins-extralight, sans-serif;
  line-height: 94px;
  color: #fff;
}
body .main-container .section .content .center .tamilum {
  font-size: 34px;
  font-weight: 700;
  font-family: poppins-extralight, sans-serif;
  line-height: 94px;
  color: #fff;
}
body .main-container .section .content.active {
  display: block;
}
body .main-container .section .nokkam {
  display: none;
  max-width: 850px;
  width: 100%;
  margin: auto;
  text-align: center;
}
body .main-container .section .nokkam .heading1 h1 {
  font-size: 49px;
  font-weight: 700;
  line-height: 79px;
  color: var(--font-color);
}
body .main-container .section .nokkam .heading2 {
  margin: 50px 0;
}
body .main-container .section .nokkam .heading2 h3 {
  font-size: 29px;
  font-weight: 700;
  color: var(--font-color);
}
body .main-container .section .nokkam .description {
  padding: 0px 50px;
}
body .main-container .section .nokkam .description p {
  font-size: 16px;
  font-weight: 400;
  color: var(--font-color);
}
body .main-container .section .nokkam .btn {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  border-radius: 35px;
}
body .main-container .section .nokkam .btn a {
  padding: 15px 40px;
}
body .main-container .section .general-rules {
  max-width: 980px;
  width: 100%;
  margin: auto;
  text-align: start;
  color: var(--font-color);
  padding-top: 30px;
}
body .main-container .section .general-rules ol {
  padding-left: 40px;
}
body .main-container .section .general-rules ol li {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--font-color);
}
body .main-container .section .general-rules .heading h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 79px;
  color: var(--font-color);
}
body .main-container .section .general-rules .round-1 .heading h2,
body .main-container .section .general-rules .round-2 .heading h2 {
  line-height: 79px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: var(--font-color);
}
@media screen and (max-width: 1280px) {
  body {
    background: url(/images/background.jpg);
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
  body .main-container .header {
    width: 100%;
    background-color: black;
  }
  body .main-container .header .header-inner-section {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    display: block;
  }
  body .main-container .header .header-inner-section .logo-container {
    max-width: 1000px;
    width: 100%;
  }
  body .main-container .header .header-inner-section .logo-container .logo {
    max-width: 1000px;
    width: 100%;
    padding: 26px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body .main-container .header .header-inner-section .logo-container .logo .sub-logo img {
    padding-right: 10px;
  }
  body .main-container .header .header-inner-section .logo-container .logo .social-media-link {
    display: block;
    max-width: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  body .main-container .header .header-inner-section .line-small-screen {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ffff74;
  }
  body .main-container .header .header-inner-section .bar-icon {
    display: none;
  }
  body .main-container .header .header-inner-section .navigation {
    max-width: 800px;
    width: 100%;
    margin: auto;
  }
  body .main-container .header .header-inner-section .navigation ul {
    display: flex;
    justify-content: space-between;
  }
  body .main-container .header .header-inner-section .navigation ul li {
    list-style: none;
    padding: 0;
    margin-right: 25px;
    line-height: 50px;
    font-size: 13px;
    font-weight: 400px;
    color: #fff;
  }
  body .main-container .header .header-inner-section .navigation ul li:hover {
    cursor: pointer;
    color: #ffff74;
  }
  body .main-container .header .header-inner-section .social-media-link {
    max-width: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: none;
  }
  body .main-container .section {
    width: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.521);
  }
  body .main-container .section .content {
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 90px 0;
  }
  body .main-container .section .content .thirukural {
    max-width: 580px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    font-family: poppins-extralight, sans-serif;
    line-height: 28px;
    color: #fff;
    padding-bottom: 40px;
  }
  body .main-container .section .content .center {
    text-align: center;
  }
  body .main-container .section .content .center .about-dckap {
    letter-spacing: 0.8px;
    max-width: 800px;
    width: 100%;
    margin: auto;
    font-size: 28px;
    font-weight: 700;
    font-family: poppins-extralight, sans-serif;
    color: #fff;
    padding-bottom: 40px;
  }
  body .main-container .section .content .center .heading {
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    font-family: poppins-extralight, sans-serif;
    line-height: 94px;
    color: #fff;
  }
  body .main-container .section .content .center .tamilum {
    font-size: 34px;
    font-weight: 700;
    font-family: poppins-extralight, sans-serif;
    line-height: 94px;
    color: #fff;
  }
  body .main-container .section .content .btn {
    max-width: 500px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  body .main-container .section .content .btn .rule-btn {
    padding: 10px;
    background-color: black;
    color: #ffff74;
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid black;
  }
  body .main-container .section .content .btn .rule-btn:hover {
    background-color: #ffff74;
    border: 1px solid black;
    color: black;
  }
  body .main-container .section .content .btn .save-btn {
    padding: 10px;
    background-color: black;
    color: #ffff74;
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid black;
  }
  body .main-container .section .content .btn .save-btn:hover {
    background-color: #ffff74;
    border: 1px solid black;
    color: black;
  }
}
@media screen and (max-width: 1024px) {
  body {
    background: url(/images/background.jpg);
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
  body .main-container .header {
    width: 100%;
    background-color: black;
  }
  body .main-container .header .header-inner-section {
    max-width: 730px;
    width: 100%;
    margin: auto;
    display: block;
  }
  body .main-container .header .header-inner-section .logo-container {
    max-width: 730px;
    width: 100%;
  }
  body .main-container .header .header-inner-section .logo-container .logo {
    max-width: 730px;
    width: 100%;
    padding: 26px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body .main-container .header .header-inner-section .logo-container .logo .sub-logo img {
    padding-right: 10px;
  }
  body .main-container .header .header-inner-section .logo-container .logo .social-media-link {
    display: block;
    max-width: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  body .main-container .header .header-inner-section .line-small-screen {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ffff74;
  }
  body .main-container .header .header-inner-section .bar-icon {
    display: none;
  }
  body .main-container .header .header-inner-section .navigation {
    max-width: 600px;
    width: 100%;
    margin: auto;
  }
  body .main-container .header .header-inner-section .navigation ul {
    display: flex;
    justify-content: space-between;
  }
  body .main-container .header .header-inner-section .navigation ul li {
    list-style: none;
    padding: 0;
    margin-right: 25px;
    line-height: 50px;
    font-size: 13px;
    font-weight: 400px;
    color: #fff;
  }
  body .main-container .header .header-inner-section .navigation ul li:hover {
    cursor: pointer;
    color: #ffff74;
  }
  body .main-container .header .header-inner-section .social-media-link {
    max-width: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: none;
  }
  body .main-container .section {
    width: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.521);
  }
  body .main-container .section .content {
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 90px 0;
  }
  body .main-container .section .content .thirukural {
    max-width: 580px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    font-family: poppins-extralight, sans-serif;
    line-height: 28px;
    color: #fff;
    padding-bottom: 40px;
  }
  body .main-container .section .content .center {
    text-align: center;
  }
  body .main-container .section .content .center .about-dckap {
    letter-spacing: 0.8px;
    max-width: 800px;
    width: 100%;
    margin: auto;
    font-size: 28px;
    font-weight: 700;
    font-family: poppins-extralight, sans-serif;
    color: #fff;
    padding-bottom: 40px;
  }
  body .main-container .section .content .center .heading {
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    font-family: poppins-extralight, sans-serif;
    line-height: 94px;
    color: #fff;
  }
  body .main-container .section .content .center .tamilum {
    font-size: 34px;
    font-weight: 700;
    font-family: poppins-extralight, sans-serif;
    line-height: 94px;
    color: #fff;
  }
  body .main-container .section .content .btn {
    max-width: 500px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  body .main-container .section .content .btn .rule-btn {
    padding: 10px;
    background-color: black;
    color: #ffff74;
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid black;
  }
  body .main-container .section .content .btn .rule-btn:hover {
    background-color: #ffff74;
    border: 1px solid black;
    color: black;
  }
  body .main-container .section .content .btn .save-btn {
    padding: 10px;
    background-color: black;
    color: #ffff74;
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid black;
  }
  body .main-container .section .content .btn .save-btn:hover {
    background-color: #ffff74;
    border: 1px solid black;
    color: black;
  }
}
@media screen and (max-width: 768px) {
  body {
    background: url(/images/background.jpg);
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
  body .main-container {
    max-width: 768px;
    width: 100%;
    margin: auto;
  }
  body .main-container .header {
    width: 100%;
    background-color: black;
    padding: 0 20px;
  }
  body .main-container .header .header-inner-section {
    max-width: 730px;
    width: 100%;
    margin: auto;
    display: block;
  }
  body .main-container .header .header-inner-section .logo-container {
    max-width: 730px;
    width: 100%;
  }
  body .main-container .header .header-inner-section .logo-container .logo {
    max-width: 730px;
    width: 100%;
    padding: 26px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body .main-container .header .header-inner-section .logo-container .logo .sub-logo img {
    padding-right: 10px;
  }
  body .main-container .header .header-inner-section .logo-container .logo .social-media-link {
    display: none;
  }
  body .main-container .header .header-inner-section .line-small-screen {
    display: none;
  }
  body .main-container .header .header-inner-section .bar-icon {
    display: block;
    padding: 20px;
  }
  body .main-container .header .header-inner-section .bar-icon i {
    font-size: 24px;
    color: #fff;
  }
  body .main-container .header .header-inner-section .navigation {
    display: none;
  }
  body .main-container .section {
    width: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.521);
  }
  body .main-container .section .content {
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 90px 20px;
  }
  body .main-container .section .content .thirukural {
    max-width: 530px;
    width: 100%;
    margin: auto;
    font-size: 18px;
    font-weight: 700;
    font-family: poppins-extralight, sans-serif;
    line-height: 28px;
    color: #fff;
    padding-bottom: 40px;
  }
  body .main-container .section .content .center {
    text-align: center;
  }
  body .main-container .section .content .center .about-dckap {
    letter-spacing: 0.8px;
    max-width: 800px;
    width: 100%;
    margin: auto;
    font-size: 20px;
    font-weight: 700;
    font-family: poppins-extralight, sans-serif;
    color: #fff;
    padding-bottom: 40px;
  }
  body .main-container .section .content .center .heading {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: poppins-extralight, sans-serif;
    line-height: 94px;
    color: #fff;
  }
  body .main-container .section .content .center .tamilum {
    font-size: 30px;
    font-weight: 700;
    font-family: poppins-extralight, sans-serif;
    line-height: 94px;
    color: #fff;
  }
  body .main-container .section .content .btn {
    max-width: 500px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  body .main-container .section .content .btn .rule-btn {
    padding: 10px;
    background-color: black;
    color: #ffff74;
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid black;
  }
  body .main-container .section .content .btn .rule-btn:hover {
    background-color: #ffff74;
    border: 1px solid black;
    color: black;
  }
  body .main-container .section .content .btn .save-btn {
    padding: 10px;
    background-color: black;
    color: #ffff74;
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid black;
  }
  body .main-container .section .content .btn .save-btn:hover {
    background-color: #ffff74;
    border: 1px solid black;
    color: black;
  }
}
@media screen and (max-width: 580px) {
  body {
    background: url(/images/background.jpg);
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
  body .main-container {
    max-width: 580px;
    width: 100%;
    margin: auto;
  }
  body .main-container .header {
    width: 100%;
    background-color: black;
    padding: 0 20px;
  }
  body .main-container .header .header-inner-section {
    max-width: 730px;
    width: 100%;
    margin: auto;
    display: block;
  }
  body .main-container .header .header-inner-section .logo-container {
    max-width: 730px;
    width: 100%;
  }
  body .main-container .header .header-inner-section .logo-container .logo {
    max-width: 730px;
    width: 100%;
    padding: 26px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body .main-container .header .header-inner-section .logo-container .logo .sub-logo {
    display: none;
  }
  body .main-container .header .header-inner-section .logo-container .logo .social-media-link {
    display: none;
  }
  body .main-container .header .header-inner-section .line-small-screen {
    display: none;
  }
  body .main-container .header .header-inner-section .bar-icon {
    display: block;
    padding: 20px;
  }
  body .main-container .header .header-inner-section .bar-icon i {
    font-size: 24px;
    color: #fff;
  }
  body .main-container .header .header-inner-section .navigation {
    display: none;
  }
  body .main-container .section {
    width: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.521);
  }
  body .main-container .section .content {
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 60px 20px;
  }
  body .main-container .section .content .thirukural {
    max-width: 530px;
    width: 100%;
    margin: auto;
    font-size: 16px;
    font-weight: 500;
    font-family: poppins-extralight, sans-serif;
    line-height: 28px;
    color: #fff;
    padding-bottom: 30px;
  }
  body .main-container .section .content .center {
    text-align: center;
    padding-bottom: 30px;
  }
  body .main-container .section .content .center .about-dckap {
    letter-spacing: 0.8px;
    max-width: 800px;
    width: 100%;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
    font-family: poppins-extralight, sans-serif;
    color: #fff;
    padding-bottom: 40px;
  }
  body .main-container .section .content .center .heading {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    font-family: poppins-extralight, sans-serif;
    line-height: 20px;
    color: #fff;
  }
  body .main-container .section .content .center .tamilum {
    font-size: 24px;
    font-weight: 700;
    font-family: poppins-extralight, sans-serif;
    line-height: 94px;
    color: #fff;
  }
  body .main-container .section .content .btn {
    max-width: 500px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  body .main-container .section .content .btn .rule-btn {
    padding: 10px;
    background-color: black;
    color: #ffff74;
    border-radius: 25px;
    text-decoration: none;
    margin-bottom: 10px;
    border: 1px solid black;
  }
  body .main-container .section .content .btn .rule-btn:hover {
    background-color: #ffff74;
    border: 1px solid black;
    color: black;
  }
  body .main-container .section .content .btn .save-btn {
    padding: 10px;
    background-color: black;
    color: #ffff74;
    border-radius: 25px;
    text-decoration: none;
    margin-bottom: 10px;
    border: 1px solid black;
  }
  body .main-container .section .content .btn .save-btn:hover {
    background-color: #ffff74;
    border: 1px solid black;
    color: black;
  }
}
