* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Tamil', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --primary-color: #000000;
    --font-color: #ffffff;
    --button-color: #FFF76A;
}

.btn {
    max-width: 500px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.button-props {
    text-decoration: none;
    padding: 10px;
    background-color: black;
    color: rgb(255, 255, 116);
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid black;
    margin-top: 25px;

    &:hover {
        background-color: rgb(255, 255, 116);
        border: 1px solid black;
        transition: 0.2s;
        color: black;
    }
}

body {
    background: url(/images/background.jpg);
    margin: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Noto Sans Tamil', sans-serif;

    .main-container {
        background-color: rgba(0, 0, 0, 0.521);

        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: black;

            .header-inner-section {
                max-width: 1250px;
                width: 100%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .logo-container {
                    max-width: 510px;
                    width: 100%;

                    .logo {
                        max-width: 380px;
                        width: 100%;
                        padding: 26px 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .sub-logo {
                            img {
                                padding-right: 10px;
                            }
                        }

                        .social-media-link {
                            display: none;
                        }
                    }
                }

                .line-small-screen {
                    display: none;
                }

                .bar-icon {
                    display: none;
                }

                .navigation {
                    ul {
                        display: flex;
                        justify-content: space-between;

                        li {
                            list-style: none;
                            margin-right: 25px;
                            line-height: 25px;
                            font-size: 13px;
                            font-weight: 400px;
                            color: #fff;

                            &:hover {
                                cursor: pointer;
                                color: rgb(255, 255, 116);
                            }
                        }

                        .link.active {
                            color: var(--button-color);
                        }
                    }
                }

                .social-media-link {
                    max-width: 75px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        .section {
            width: 100%;
            margin-top: 111px;
            background-color: rgba(0, 0, 0, 0.521);
            background-size: cover;

            @media screen and (max-width:1280px) {
                margin-top: 120px;
            }

            .content {
                display: none;
                max-width: 940px;
                width: 100%;
                margin: auto;
                padding: 60px 0;

                .thirukural {
                    max-width: 580px;
                    width: 100%;
                    font-size: 20px;
                    font-weight: 700;
                    font-family: poppins-extralight, sans-serif;
                    line-height: 28px;
                    color: #fff;
                    padding-bottom: 40px;
                }

                .center {
                    text-align: center;

                    .about-dckap {
                        letter-spacing: 0.8px;
                        max-width: 800px;
                        width: 100%;
                        margin: auto;
                        font-size: 28px;
                        font-weight: 700;
                        font-family: poppins-extralight, sans-serif;
                        color: #fff;
                        padding-bottom: 40px;
                    }

                    .heading {
                        text-align: center;
                        font-size: 72px;
                        font-weight: 700;
                        font-family: poppins-extralight, sans-serif;
                        line-height: 94px;
                        color: #fff;
                    }

                    .tamilum {
                        font-size: 34px;
                        font-weight: 700;
                        font-family: poppins-extralight, sans-serif;
                        line-height: 94px;
                        color: #fff;
                    }
                }
                .btn{
                    a{
                        .button-props;
                    }
                }

            }

            .content.active {
                display: block;
            }

            .nokkam {
                display: none;
                max-width: 850px;
                width: 100%;
                margin: auto;
                text-align: center;

                .heading1 {

                    h1 {
                        font-size: 49px;
                        font-weight: 700;
                        line-height: 79px;
                        color: var(--font-color);
                    }
                }

                .heading2 {
                    margin: 50px 0;

                    h3 {
                        font-size: 29px;
                        font-weight: 700;
                        color: var(--font-color);
                    }
                }

                .description {
                    padding: 0px 50px;

                    p {
                        font-size: 16px;
                        line-height: 25px;
                        font-weight: 400;
                        color: var(--font-color);
                    }
                }

                .btn {
                    margin-top: 25px;
                    display: flex;
                    justify-content: center;
                    border-radius: 35px;

                    a {
                        padding: 15px 40px;
                        .button-props;
                    }
                }
            }

            .general-rules {
                // max-width: 980px;
                width: 100%;
                margin: auto;
                text-align: start;
                color: var(--font-color);
                padding-top: 30px;

                ol {
                    padding-left: 40px;

                    li {
                        font-size: 16px;
                        line-height: 30px;
                        font-weight: 500;
                        color: var(--font-color);
                    }
                }

                .heading {
                    h1 {
                        text-align: center;
                        font-size: 30px;
                        font-weight: 700;
                        line-height: 79px;
                        color: var(--font-color);
                    }
                }

                .round-1,
                .round-2 {
                    .heading {
                        h2 {
                            line-height: 79px;
                            text-align: center;
                            font-size: 30px;
                            font-weight: 700;
                            color: var(--font-color);
                        }
                    }
                }

            }

             // third page styles
             .overall-nizhalchineral {
                // display: block;

                .nizhalchineral-section {
                    display: flex;
                    align-self: start;
                    // padding: 82px 0px 0px 160px;

                    .inner-nizhachineral-section {
                        padding-top: 30px;



                        .first-container-contents {
                            color: white;
                            width: 100%;
                            max-width: 450px;

                            .specialText {
                                color: #fff76a;
                            }

                            .titleName {
                                color: #fff;
                                font-size: 38px;
                                line-height: 36px;
                                font-weight: 600;
                                // padding-bottom: 95px;
                                padding-bottom: 45px;
                            }

                            .nizhalchiDate {
                                .eventDate {
                                    font-size: 28px;
                                    font-weight: bold;
                                    line-height: 40px;

                                }
                            }

                            .nizhalchiTimings {
                                .eventTime {
                                    font-size: 28px;
                                    font-weight: bold;
                                    line-height: 32px;
                                    padding: 45px 0px;
                                }
                            }

                            .nizhalchiLocation {
                                .venue {
                                    font-size: 28px;
                                    font-weight: bold;
                                    line-height: 40px;
                                }
                            }


                        }

                    }

                    .eventDetails-section {
                        margin-left: 90px;

                        .eventDetailsContents {
                            table {
                                color: white;
                                border-collapse: collapse;

                                .tableRow>:first-child {
                                    border-right: 1px solid white;
                                    padding-right: 20px;
                                }

                                .tableRow>:nth-child(2) {
                                    padding-left: 40px;
                                }



                                .tableRow {

                                    .tableData {
                                        font-size: 16px;
                                        height: 92px;

                                        // width: 100%;
                                        max-width: 310px;
                                    }
                                }
                            }

                        }
                    }
                }

                .outer-bottom {
                    padding: 100px 0;


                    .bottom-line {
                        height: 1px;
                        background-color: white;

                    }
                }
            }



            // fourth page container
            .thodarbugal-container {

                .inner-thodarbugal-container {
                    .blur-rectangle {
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0.521);
                        padding: 120px 130px;
                        text-align: center;

                        .contactTitle {
                            .titleContactName {
                                font-size: 41px;
                                color: white;
                                line-height: 46px;
                                font-weight: 700px;
                            }

                            .contactDetails {
                                display: flex;
                                justify-content: space-between;
                                padding-top: 58px;

                                .mobile {
                                    .mobileNumber {
                                        color: #fff76a;
                                        font-size: 21px;
                                        line-height: 24px;
                                        padding-bottom: 15px;
                                        font-weight: 700px;
                                    }

                                    .numberText {
                                        color: white;
                                        font-size: 16px;
                                        line-height: 18px;
                                        font-weight: 500px;

                                    }

                                }

                                .email {
                                    .mail {
                                        .mailAddress {
                                            color: #fff76a;
                                            font-size: 21px;
                                            line-height: 24px;
                                            padding-bottom: 15px;
                                            font-weight: 700px;
                                        }

                                        .emailValue {
                                            color: white;
                                            font-size: 16px;
                                            line-height: 18px;
                                            font-weight: 500;
                                        }
                                    }

                                }
                            }

                            .form {
                                padding-top: 85px;

                                form {
                                    color: white;

                                    .nameDiv,
                                    .detailsDiv {
                                        display: flex;
                                        justify-content: space-between;

                                        .inputContainer {
                                            max-width: 300px;
                                            flex: 1;

                                            label {
                                                display: block;

                                            }

                                            input {
                                                width: 100%;
                                                max-width: 300px;
                                                height: 40px;
                                                background-color: transparent;
                                                border: 1px solid #fff;
                                                margin: 18px 0px 55px 0px;
                                                color: white;


                                                &:hover {
                                                    border: 1px solid #fff76a;

                                                }
                                            }


                                        }
                                    }

                                    .btns {

                                        .full-width {

                                            label {
                                                display: block;
                                                padding-bottom: 18px;
                                            }

                                            textarea {
                                                width: 100%;
                                                background-color: transparent;
                                                color: white;

                                                &:hover {
                                                    border: 1px solid #fff76a;
                                                }
                                            }

                                            .submitBtn {
                                                margin-top: -7px;
                                                background: #fff76a;
                                                width: 100%;
                                                height: 52px;
                                                border: 0;
                                                font-size: 22px;
                                                font-weight: 500;
                                                text-align: center;


                                                &:hover {
                                                    background: transparent;
                                                    border: 1px solid #fff76a;
                                                    color: #fff76a;
                                                }

                                            }

                                        }

                                    }



                                }
                            }
                        }
                    }

                    .social-links{
                        text-align: center;
                        padding-top: 48px;

                        a{
                            padding-left: 5px;
                            text-decoration: none;
                        }
                    }
                }
            }

        }
    }
}




@media screen and (max-width:1280px) {

    body {

        .main-container {
            .header {

                .header-inner-section {
                    max-width: 1000px;
                    flex-direction: column;

                    .logo-container {
                        max-width: 1000px;

                        .logo {
                            max-width: 1000px;


                            .social-media-link {
                                display: block;
                                max-width: 100px;
                                width: 100%;
                                display: flex;
                                justify-content: space-between;

                            }
                        }
                    }

                    .line-small-screen {
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: rgb(255, 255, 116);
                    }

                    .navigation {
                        max-width: 800px;
                        width: 100%;
                        margin: auto;

                        ul {

                            li {
                                list-style: none;
                                padding: 0;
                                margin-right: 25px;
                                line-height: 50px;
                            }
                        }
                    }

                    .social-media-link {
                        display: none;
                    }
                }
            }

            .section {
                margin: auto;
                margin-top: 111px;

                .content {
                    padding: 90px 0;

                }
            }
        }
    }
}



@media screen and (max-width : 1024px) {

    body {

        .main-container {
            .header {

                .header-inner-section {
                    max-width: 730px;
                    width: 100%;

                    .logo-container {
                        max-width: 730px;
                        width: 100%;

                        .logo {
                            max-width: 730px;
                            width: 100%;
                            padding: 26px 0;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .sub-logo {
                                img {
                                    padding-right: 10px;
                                }
                            }
                        }
                    }


                    .navigation {
                        max-width: 600px;

                        ul {
                            display: flex;
                            justify-content: space-between;

                        }
                    }
                }
            }

            .section {

                .content {
                    max-width: 800px;

                    .thirukural {
                        max-width: 580px;
                        width: 100%;
                        font-size: 20px;
                        font-weight: 700;
                        font-family: poppins-extralight, sans-serif;
                        line-height: 28px;
                        color: #fff;
                        padding-bottom: 40px;
                    }

                }
            }
        }
    }
}



@media screen and (max-width : 768px) {

    body {

        .main-container {
            max-width: 768px;

            .header {
                width: 100%;
                background-color: black;
                padding: 0 20px;

                .header-inner-section {

                    .logo-container {

                        .logo {

                            .social-media-link {
                                display: none;
                            }
                        }
                    }

                    .line-small-screen {
                        display: none;
                    }

                    .bar-icon {
                        display: block;
                        padding: 20px;

                        i {
                            font-size: 24px;
                            color: #fff;
                        }
                    }

                    .navigation {
                        display: none;
                    }
                }
            }

            .section {

                .content {

                    .thirukural {
                        max-width: 530px;
                        width: 100%;
                        margin: auto;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}



@media screen and (max-width : 580px) {

    body {

        .main-container {
            max-width: 580px;


        }
    }
}

@media screen and (max-width: 375px) {
    body .main-container .section .nokkam .description{
        padding: 0;
    }
    .content{
        max-width: 340px !important;
        width: 100%;
    }
}